# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# UV
# =========================

.venv/

# =========================
# ENV
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================

*.log

# =========================
# DATABASE
# =========================

*.sqlite3
*.db
*.sql
*.duckdb
*.duckdb.wal
*.duckdb.tmp

# =========================
# BUILD
# =========================

build/
dist/
*.egg-info/

# =========================
# UPLOADS / MEDIA
# =========================

uploads/
media/
staticfiles/

# =========================
# DOCKER
# =========================

docker-data/
postgres_data/

# =========================
# TESTS
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# CACHE
# =========================

.cache/
.mypy_cache/
ruff_cache/

# =========================
# TEMP
# =========================

tmp/
temp/
api/data/*.duckdb
api/data/*.duckdb.wal
api/data/*.duckdb.tmp
